:root {
  --PRIMARY: #6a5bdf;
  --PRIMARY-BASE: #7366e2;
  --SECONDARY: #ff8fa2;
  --SECONDARY-BASE: #ffa5b4;

  --WHITE: #fafafa;
  --WHITE-OPACITY-C: #fafafacc;
  --WHITE-OPACITY-A: #fafafaaa;

  --BLACK-BG: #232128;
  --BLACK: #1f1f1f;
  --BLACK-OPACITY-C: #1f1f1fcc;
  --BLACK-OPACITY-A: #1f1f1faa;

  --BG-BASE: #eee8fa;
  --BG-BASE-TEXT: #6c5ce0;

  /* VAR to override */
  --BG: var(--WHITE);
  --TEXT: var(--BLACK);
  --SHADE: #e0e0e0;
}
html[stv-mode="light"] {
  --BG: var(--WHITE);
  --TEXT: var(--BLACK);
  --SHADE: var(--BG-BASE);
}
html[stv-mode="dark"] {
  --BG: var(--BLACK);
  --TEXT: var(--WHITE);
  --SHADE: #0e0e0e;
}
