.landing_wrapper {
  max-width: 95%;
  overflow-y: scroll;
}
.back_title_wrapper {
  position: relative;
  width: 100%;
}
.quiz_cta {
  position: absolute;
  left: 0;
}
.question_score,
.question_options_wrapper {
  width: 100%;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
}
.question_score h4 {
  color: var(--SECONDARY);
}
.quiz_question_wrapper {
  padding: 3rem 0;
}
.quiz_question {
  text-align: center;
  padding-bottom: 1rem;
}
.question_option {
  padding: 1rem 2rem;
  background: var(--BG-BASE);
  color: var(--PRIMARY);
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s ease;
  width: 100%;
}
.question_option:hover {
  background: var(--SECONDARY);
  color: var(--BG);
}
.question_option.right_ans {
  background: var(--VARIANT-2-DARK2);
  color: var(--BG);
}
.question_option.wrong_ans {
  background: var(--VARIANT-1-DARK2);
  color: var(--BG);
}
