@import "../../styles/variables/variables.scss";

.score_page_wrapper {
  display: grid;
  place-items: center;
  height: calc(100vh - 60px);
  width: 100vw;
  color: $white;
  padding: 2rem 0;

  .qna_wrapper {
    @include flex(2rem, column);
  }

  .sp_question,
  .sp_answer {
    @include flex(1rem);
  }
}
